<%= render 'pages/home' unless user_signed_in? %>

<div id="products" class="transitions-enabled">
  <% @products.each do |product| %>
    <div class="hover-group box panel panel-default">
      <div class="center">
      <h3><strong><%= product.title %></strong></h3>
      </div>
      <div class="image-wrapper">
      <%= link_to image_tag(product.image.url(:medium)), product %>
      </div>
      <div class="hover-toggle panel-body">
        <p><%= product.description %></p>
        <% if current_user && product.user == current_user %>
          <div class="actions">
            <%= link_to edit_product_path(product) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
        
      </div>
    </div>
  <% end %>
</div>

<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
